
.meus-filmes{
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meus-filmes h1{
  margin-bottom: 14px;
}

.meus-filmes span{
  font-size: 18px;
}

.meus-filmes ul{
  width: 720px;
}

.meus-filmes ul li{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.meus-filmes div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.meus-filmes div a {
  text-decoration: none;
  color: #116feb;
  margin-right: 14px;
}

.button-delete {
  background-color: #ff5454;
  border-radius: 4px;
  color: white;
  margin: 0px;
  display: flex;
  width: 56px;
  text-align: center;
  justify-content: center;
  border: black solid 1px;
}

.button-details {
  background-color: rgb(255, 255, 105);
  border-radius: 4px;
  margin: 0px;
  display: flex;
  width: 92px;
  font-size: 14px;
  text-align: center;
  justify-content: center;
  border: black solid 1px;
}